<mat-card>
<h2 [ngStyle]="{'margin-bottom':'20px'}">Cart List</h2>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Name</th>
      <th scope="col">Veg/No-Veg</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let menu of menus" >
      <td><img src="/assets/{{menu.photo}}" alt="" height="100"></td>
      <td>{{menu.name}}</td>
      <td>{{menu.veg}}</td>
      <td>{{menu.price}}</td>
      <td>{{empService.getcountbymenuname(menu.name)}}</td>
    </tr>
    </tbody>

    <span matBadge="5" matBadgeSize="large">Total: {{empService.totalprice()}}</span>
    

  </table>
</mat-card>

<div>
  <button (click)="goBack()">Go Back</button>
</div>
