<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
    <div>Feast Freedom</div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]> 
      <mat-nav-list *ngIf="nav.visible">
        <a  mat-list-item routerLinkActive="active" routerLink="/userhome">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/kitchens">
          <mat-icon>format_list_bulleted</mat-icon> Kitchens
        </a>
        <a  mat-list-item routerLinkActive="active" routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon> Cart
          </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
