<mat-card>
<div class="container-fluid">
    <h2>Add Menu</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      
        <!--<label>Id</label>
        <input type="text" [class.is-invalid]="id.invalid && id.touched" 
        formControlName="id" class="form-control">
            <div *ngIf="id.errors && id.touched">
              <div class="alert alert-danger" *ngIf="id.errors?.required">ID is required</div>
              <div class="alert alert-danger" *ngIf="id.errors?.minlength">ID must be at least 1 characters</div>
            </div>-->
        
        <label>Name</label>
        <input type="text" [class.is-invalid]="name.invalid && name.touched" 
        formControlName="name" class="form-control">
            <div *ngIf="name.errors && name.touched">
              <div class="alert alert-danger" *ngIf="name.errors?.required">Name is required</div>
              <div class="alert alert-danger" *ngIf="name.errors?.minlength">Name must be at least 1 characters</div>
            </div>
  
        <label>Veg/No-Veg</label>
        <input type="text" [class.is-invalid]="veg.invalid && veg.touched" 
        formControlName="veg" class="form-control">
            <div *ngIf="veg.errors && veg.touched">
              <div class="alert alert-danger" *ngIf="veg.errors?.required">Veg Information is required</div>
              <div class="alert alert-danger" *ngIf="veg.errors?.minlength">Must be at least 1 characters</div>
            </div>
  
        <label>Price</label>
        <input type="number" [class.is-invalid]="price.invalid && price.touched" 
        formControlName="price" class="form-control">
            <div *ngIf="price.touched && price.errors">
              <div class="alert alert-danger" *ngIf="price.errors.required">Price is required</div>
              <div class="alert alert-danger" *ngIf="price.errors.minlength">Price must be at least 1 characters</div>
            </div>
       
  
       <label>Kitchen code</label>
       <input type="number" [class.is-invalid]="kitchenid.invalid && kitchenid.touched" 
       formControlName="kitchenid" class="form-control">
           <div *ngIf="kitchenid.errors && kitchenid.touched">
             <div class="alert alert-danger" *ngIf="kitchenid.errors?.required">Kitchen Code is required</div>
             <div class="alert alert-danger" *ngIf="kitchenid.errors?.minlength">Kitchen Code must be at least 1 characters</div>
           </div><br>
        
        <label>Image</label>
        <input type="text" [class.is-invalid]="photo.invalid && photo.touched" 
       formControlName="photo" class="form-control">
           <div *ngIf="photo.errors && photo.touched">
             <div class="alert alert-danger" *ngIf="photo.errors?.required">photo is required</div>
             <div class="alert alert-danger" *ngIf="photo.errors?.minlength">photo name must be at least 1 characters</div>
           </div>
        <input type="file" (change) = "onFileSelected($event)">    
        <br>

        <button class="btn btn-primary" [disabled]="!userForm.valid" type="submit">Submit form</button>
        <button class="btn btn-primary"  (click)="onCancel()">Cancel form</button>
    </form>
  </div>
</mat-card>